*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: rgb(9, 8, 8);
    width: 100vw;
    height: 100vh;
    position: absolute;

}
body{
    background-color: aqua;
    background-image: url(./imagens/fundo-madeira.jpg);
   background-size: cover;

}
main{
    position: relative;
    height: 100vh;
}

a
{
        opacity:0.5;
}
a:hover
{       
  
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
}

#telefone{ 
   
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    
    width: 311px;
    height: 627px;
    background-image: url(./imagens/frame-iphone.png);
 
}

#tela{ 
    background-attachment: fixed;
    position: relative;
    top: 13%;
    left: 7%;

    width: 86%;
    height: 75%;
}



.home{
    background: url(./imagens/logo-home.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 0px;
    width: 60px;
    height:60px;
    position: absolute;
    right: 0%;
    top: 5%;


}

.youtube{
    background: url(./imagens/logo-youtube.jpg) no-repeat center center;
    background-size: cover;

    border-radius: 50%;
    width: 60px;
    height:60px;
    position: absolute;
    margin-top: 80px;
    right: 0%;
    top: 5%;

}

.github{
    background: url(./imagens/logo-github.jpg) no-repeat top center;
    background-size: cover;

    border-radius: 50%;
    width: 60px;
    height:60px;
    position: absolute;
    margin-top: 160px;
    right: 0%;
    top: 5%;

}

.linkedin{
    background: url(./imagens/logotipo-quadrado-do-linkedin-isolado-no-fundo-branco_469489-892.avif) no-repeat center center;
    background-size: cover;

    border-radius: 50%;
    width: 60px;
    height:60px;
    position: absolute;
    margin-top: 240px;
    right: 0%;
    top: 5%;

}

/* .twitter{
    background: url(./imagens/logo-twitter.jpg) no-repeat top center;
    background-size: cover;

    border-radius: 50%;
    width: 60px;
    height:60px;
    position: absolute;
    margin-top: 320px;
    right: 0%;
    top: 5%;


}

.facebook{
    background: url(./imagens/logo-facebook.jpg) no-repeat top center;
    background-size: cover;

    border-radius: 50%;
    width: 60px;
    height:60px;
    position: absolute;
    margin-top: 400px;
    right: 0%;
    top: 5%;

} */

